<h3>{{titulo}}</h3>
 
<table>
    <thead>
    <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>CNPJ</th>
        <th>Telefone</th>
        <th>Email</th>
        <th>Horário Checkin</th>
        <th>Horário Checkout</th>
        <th>Editar</th>
        <th>Excluir</th>
    </tr>
    </thead>
 
    <tbody>
        <tr *ngFor="let hotel of hoteis; let i = index;">
        <td>{{ hotel.id }}</td>        
        <td>{{ hotel.nome }}</td> 
        <td>{{ hotel.cnpj }}</td>   
        <td>{{ hotel.telefone }}</td>    
        <td>{{ hotel.email }}</td>
        <td>{{ hotel.horarioCheckin }}</td>
        <td>{{ hotel.horarioCheckout }}</td>
        <td><a (click)="editar(hotel.id);">Editar</a></td>
        <td><a (click)="excluir(hotel.id, i);">Excluir</a></td>
        </tr>
        <tr>
           <td colspan="6" style="text-align: right;">Total de Registros: {{ hoteis.length }}</td> 
        </tr>
    </tbody>
</table>